# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cpc_workdir/*.cfg*
cpc_workdir/*.log
cpc_workdir/data
cpc_workdir/workdir*
cpc_workdir/file*.bin

ipc_workdir/data
ipc_workdir/logs
ipc_workdir/upper*
ipc_workdir/collision*.bin
